@import "./../base";

.app-flex-container {
  display: flex;
  flex-direction: column;
  font-family: $fontStack;
}

header {
  background-color: white;
  width: 100%;
  text-align: center;
  padding: 1%;
  color: #333;
  font-size: 22px;
}

.revenue-manager-container {
  display: flex;
  flex-direction: row;
}

.controls-container {
  display: flex;
  background-color: white;
  height: 568px;
  box-sizing: border-box;
  width: 42%;
  flex-direction: column;
  border-right: 1px solid #966b6b;
}

.add-expenses-icons {
  background-color: #966b6b;
  height: 56px;
  width: 100%;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10% 0px;
}

.display-area-container {
  display: flex;

  justify-content: center;
  /*background-color: #e5e5e5;*/
  background-color: #d0c7c7cf;
  height: 568px;
  flex-grow: 10;
}

/**** ToolTip Design ****/

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}
